<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Google Assistant OAuth</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <style>
      body {
          background-color: #E7E7E7;
          font-family: 'Lato', sans-serif;
      }

      h1 {
          color: #282828;
          text-align: center;
          font-size: calc(2vw + 2vh);
          flex:0 1 auto;
      }
      h2 {
          font-size:calc( 18vw);
          text-align: center;
          flex:0 1 auto;
          color: #282828;
      }

      p {
          font-size: 20px;
          flex:0 1 auto;
      }
      .button {
          background-color: #282828; /* Green */
          border: none;
          border-radius: 8px;
          color: white;
          padding: 15px 60px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: calc(3vh + 3vw);
      }
      .container {
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        align-content:center;
      }
    </style>
</head>
<body>

    {{{body}}}

</body>
</html>